# Drizzle
DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"

# IMAP Email Import
IMAP_HOST=mail.yourdomain.com
IMAP_PORT=993
IMAP_USER=you@yourdomain.com
IMAP_PASS=your-password-here
IMAP_TARGET_ADDRESS=you+additiveTasks@yourdomain.com
IMAP_PROCESSED_FOLDER=Processed
